.vertical-grid-lines {
	display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    pointer-events: none;
    user-select: none;
    top: 0px;
	bottom:0;
    height: 100%;
	z-index: 0;
    
	background-image: linear-gradient(rgba(0, 119, 179, 0.2) 1px, transparent 1px);
    background-position-x: left;
    background-position-y: top;
    background-size: 8px 8px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 100%;
	min-height: 100%;
	color: #373D3F ;
	margin: 0 auto;
	padding: 0;
	background-color: #ffe0b2;
	/*background: #ffe0b2 url(images/baseline-pattern-24px.png) repeat top left;*/
}
body.show-grid {
	background-image: linear-gradient(rgba(0, 119, 179, 0.2) 1px, transparent 1px);
    background-position-x: left;
    background-position-y: top;
    background-size: 8px 8px;
}
body:active {
	background-image: none;
}
/*body:after {
	position: absolute;
	width: auto;
	height: auto;
	z-index: 9999;
	content: '';
	display: block;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(images/baseline-pattern-24px.png) repeat top left;
	}
	body:active:after {
	display: none;
}*/

/* Baseline Grid Calculation
-----------------------------------*/
h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
h1 {				
	font-size: 4.5em; /* 72/16 = 4.5 */
	line-height: 1;
	margin: 0.6666666666666667em 0;
}
h2 {
	font-size: 3em; /* we need 48px font-size so 48 / 16 = 3em */
	line-height: 1;
	margin: 0.5em 0; /* Now H2's font-size is 48. we need 24px top/bottom margin so 24/48 = 0.5em */
}
h3 {
	font-size: 2em; /* 32 / 16 = 2em */
	line-height: 1.5;
	margin: 0.75em 0;
}
h4 {
	font-size: 1.5em; /* 24 / 16 = 1.5 */
	line-height: 1;
	margin: 1em 0;
}
h5 {
	font-size: 1em; /* 16 / 16 = 1.5 */
	line-height: 3;
	margin: 0 0 1.5em 0;
}
p {
	font-size: 1em; /* we need font-size 16px so 16 / 16 = 1em or 1rem */
	line-height: 1.714285714285714; /* we need line height 24px so 24 / 14 ( current font-size of P tag ) = 1.714285714285714em */
	margin: 0 0 1.714285714285714em 0;
}
em, strong, code {
	font-size: 1em; /* As if em and strong is inside P tag which has font size 14px so 14 ( Our traget or required font size ) / 14 ( P tag font-size ) = 1em; */
	line-height: 1.714285714285714;
}
.text-uppercase {
	text-transform: uppercase;
}
:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
	font-size: 1em;
	line-height: 1.5;
}
pre {
	font-size: 1rem;
	padding: 1rem;
	color: #373D3F;
	border-radius: 0;
	border-width: 0;
	white-space: pre-wrap; 
	word-wrap: break-word;
	background-color: transparent;
	border: 1px dashed #FFF;
}
table { border: 1px solid #FFF; }
/*---------------------------------
	UIKIT OVERRIDE
-----------------------------------*/
.uk-accordion-title {
	background-color: #FFF;
	padding: 0.375em;
	font-size: 2em;
	line-height: 1.5;
	margin: 0.75em 0;
	font-weight: 300;
}
.uk-accordion-title:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.uk-accordion-content {	
	padding: 1.5em;
	margin-top: 1.5em;
	border: 1px solid #FFF;
}

.nav-panel {
	/*background: linear-gradient(to left, #28a5f5, #1e87f0);*/
}
.header {
	background-color: #FFF;
	overflow: auto;
}
.tm-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
}
.uk-navbar-container *, .uk-navbar-container *:hover,
.uk-navbar-container a, .uk-navbar-container a:hover { color: #FFF !important; }
.uk-tab > * > a { font-size: 1rem; padding: 10px 15px 10px 10px; }
.uk-tab-left > * > a { border-right-width : 2px; }
.uk-table-divider > tr:not(:first-child), 
.uk-table-divider > :not(:first-child) > tr, 
.uk-table-divider > :first-child > tr:not(:first-child) {
    border-top: 1px solid #ffffff;
}
.tm-sidebar-left {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    padding: 30px 30px 60px 30px;
    overflow: auto;
	    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.uk-tab > * > a:hover, .uk-tab > .uk-active > a {
	
}