<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li><a href="./">Home</a></li>
            <li><a href="./sip-calculator.html">SIP Calculator</a></li>
            <li><a href="./rent-receipt-generator.html">Rent Receipt Generator</a></li>
            <li><a href="./stock-average-calculator.html">Stock Average Price Calculator</a></li>
        </ul>
    </div>
</nav>
